<html>
<head>
	<title>T.A.R.S.</title>
	<link href="ground_zero.css" rel="stylesheet" type="text/css"/>
	<link type="text/css" href="layout.css" rel="stylesheet"/>
</head>
<body>
	<h1>[ T.A.R.S. ]</h1>
	<h2>TOTALLY AWESOME ROBOTIC SLAVE</h2>
	<a href="/setup" class="gz-btn gz-teal gz-card-4" style="width: 15%; float: left;">INITIALIZE</a>
	<a href="/music" class="gz-btn gz-teal gz-card-4" style="width: 15%; float: right;">PLAY MUSIC</a>
	<br/><br/>
	<a href="/clear" class="gz-btn gz-red gz-card-4" style="width: 15%; float: left;">TERMINATE</a>
	<a href="/stopm" class="gz-btn gz-red gz-card-4" style="width: 15%; float: right;">STOP MUSIC</a>
	<div class="gz-pic">
		<a href="/forward"><div class="forward"></div></a>
		<a href="/reverse"><div class="backward"></div></a>
		<a href="/left"><div class="left"></div></a>
		<a href="/right"><div class="right"></div></a>
		<a href="/stop"><div class="stop"></div></a>
	</div>
</body>
</html>